<div class="day-cont">
     <div class="title">
          Day name
     </div>
     <div class="exercise-cont">
       <div class="exercise">
             <div class="minimized">
                <span class="name">Chin Up</span>
                <span class="remove">x</span>
             </div>
             <div class="maximized">
               <!-- TODO add full exercise with aproaches -->
             </div>
       </div>
     </div>
</div>