<div id="planer-cont">
    <div class="day-cont">
         <div class="title">
              Monday
         </div>
         <div class="exercise-cont">
           <div class="exercise">
                 <div class="minimized">
                    <span class="name">Chin Up</span>
                    <span class="remove">x</span>
                 </div>
                 <div class="maximized">
                   <!-- TODO add full exercise with aproaches -->
                 </div>
           </div>
         </div>
    </div>

  <div class="day-cont today">
      <div class="title">
           Tuesday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

  <div class="day-cont">
      <div class="title">
           Wednesday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

  <div class="day-cont">
      <div class="title">
           Thursday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

  <div class="day-cont">
      <div class="title">
           Friday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

  <div class="day-cont">
      <div class="title">
           Saturday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

  <div class="day-cont">
      <div class="title">
           Sunday
      </div>
      <div class="exercise-cont">
        <div class="exercise">
              <div class="minimized">
                 <span class="name">Chin Up</span>
                 <span class="remove">x</span>
              </div>
              <div class="maximized">
                <!-- TODO add full exercise with aproaches -->
              </div>
        </div>
      </div>
 </div>

</div>

<div id="workouts-panel">
  <div class="my-workouts-cont">
       <div class="title">
             My workouts
       </div>
        <div class="workouts-cont">
             <div class="workout">
                 <span class="is-active"></span>
                 <a href="#" ><span class="name">Chest</span></a>
             </div>
             <div class="workout">
                   <span class="is-active"></span>
                   <a href="#" ><span class="name">Legs</span></a>
              </div>
              <div class="workout">
                   <span class="is-active"></span>
                   <a href="#" ><span class="name">Arms</span></a>
               </div>
        </div>
  </div>
  <div class="saved-workouts-cont">
       <div class="title">
             Saved workouts
       </div>
        <div class="workouts-cont">
             <div class="workout">
                 <span class="is-active"></span>
                 <a href="#" ><span class="name">Joe Chest</span></a>
             </div>
             <div class="workout">
                   <span class="is-active"></span>
                   <a href="#" ><span class="name">Legs by David</span></a>
              </div>
              <div class="workout">
                   <span class="is-active"></span>
                   <a href="#" ><span class="name">Arms from Arni</span></a>
               </div>
        </div>
  </div>
</div>

