<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @measurement.name %>
</p>

<p>
  <b>Value:</b>
  <%= @measurement.value %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
