 /*
  * This is a manifest file that'll be compiled into application.css, which will include all the files
  * listed below.
  *
  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
  *
  * You're free to add application-wide styles to this file and they'll appear at the top of the
  * compiled file, but it's generally better to create a new file per style scope.
  *
  * require_self
  * require_tree .
  */
 /*
  * require twitter/bootstrap
 */


@import "elements.less";
@import "variables.css.less";

//testing data
.viewPort{
  width:600px;
  background: #fafafa;
  margin:0 auto;
}
 body{
   background: #565656;
 }
// testing closed

header{
  background: @header-bg-color;
  color: @header-color;
  padding: 10px;

  #logo{
    font-size: 1.3em;
    float: left;
  }

  .activeWorkout{
    float: right;
    font-size: 1.5em;
    margin: 0 10px;
  }

  nav{
    display: none;
  }
}

.content{
  padding: 0 10px;
}
