// Place all the styles related to the Exercises controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

@import "elements.less";
@import "variables.css.less";

.exercisesPage{

  .tabCont {
    width: 100%;
    border-bottom: 1px solid #aaa;

    .allExercisesTab, .myExercisesTab{
      width: 50%;
      float: left;
      .gradient( #cfcfcf, #cfcfcf, #bdbdbc);
      font-size: 1.3em;
      text-align: center;
      padding: 7px 0;

      &:hover{
        .gradient( #bdbdbc, #bdbdbc, #cfcfcf);
        cursor: pointer;
      }
    }

    .myExercisesTab{
      border-left: 1px solid #aaa;
      margin-left: -1px;
    }
  }

  .filter{
    background: #e1e1e1;
    border-bottom: 1px solid #aaa;
    padding: 10px 00px;

    .search{
      width: 320px;
      margin: 0 auto;
      input{
        width: 250px;
        padding: 3px 10px 2px;
        margin: 0 20px;
      }
    }

    .muscleFilter{
      padding: 10px;

      .title{
        float: left;
        padding: 3px 15px 2px 0;
        margin: 5px 0px;
        font-size: 1.1em;
        font-weight: 700;
        color: @title-color;
      }

      .muscleList{
        float: left;
        width: 100%;

        .selectedMuscle{
          float: left;
          padding: 2px 5px;
          margin: 5px 3px;
          background: @ex-hover-bg-color;
          color: @ex-hover-color;
          border: 1px solid @ex-hover-border-color;
          .rounded(0.4em);

        }
      }

      .editFilter{
        padding: 3px 5px;
        margin: 5px 3px;
        float: left;
      }
    }

    .musclesCont{
      width: 360px;
      margin: 0 auto;


      .muscleMap{
        position:  relative;
        overflow: hidden;
        display: none;

        .muscleButton{
          position: absolute;
          border: 1px dashed @muscle-button-border-c;
          border-left: 1px solid @muscle-button-border-c;
          padding: 5px 10px;
          font-size: 1.1em;
          .border-radius(0.2em, 0.2em, 0, 0);

          &:hover{
            background: @ex-hover-bg-color;
            color: @ex-hover-color;
            cursor: pointer;
          }
        }

        .active{
          background: @ex-hover-bg-color + #000111;
          color: @ex-hover-color + #000111;
        }

        .hideMap{
          position:  absolute;
          top: 25px;
          right: 40px;
          z-index: 100;
          color: @link-color;
          padding: 3px 5px;

          &:hover{
            color:  @link-hover-color;
            cursor: pointer;
          }
        }

        .rotateMap{
          background: url("exercises/rotate_180.png") no-repeat;
          position: absolute;
          top: 20px;
          left:  20px;
          width: 32px;
          height: 32px;
          opacity: 0.8;
          z-index: 100;

          &:hover{
            opacity: 1;
            cursor: pointer;
          }
        }

        .frontMap{
          position: relative;

          #neck{
            top: 34px;
            left: 167px;
          }
          #chest{
            top: 75px;
            left: 185px;
          }
          #frontDelta{
            top: 111px;
            left: 202px;
          }
          #biceps{
            top: 153px;
            left: 219px;
          }
          #forearm{
            top: 193px;
            left: 227px;
          }
          #abs{
            top: 233px;
            left: 222px;
          }
          #oblique{
            top: 275px;
            left: 219px;
          }
          #quadriceps{
            top: 313px;
            left: 206px;
          }
          #calf{
            top: 355px;
            left: 196px;
          }
          #soleus{
            top: 394px;
            left: 192px;
          }
        }
        .backMap{
          display: none;
          position: relative;
          margin-left: -40px;
          width: 360px;

          @media screen and (min-width: 330px) {
            margin-left: -30px;
          }
          @media screen and (min-width: 340px) {
            margin-left: -20px;
          }
          @media screen and (min-width: 350px) {
            margin-left: -10px;
          }
          @media screen and (min-width: 360px) {
            margin-left: 0;
          }


          #traps{
            top: 31px;
            left: 177px;
          }
          #backDelta{
            top: 74px;
            left: 198px;
          }
          #lateralDelta{
            top: 111px;
            left: 223px;
          }
          #triceps{
            top: 149px;
            left: 231px;
          }
          #lats{
            top: 193px;
            left: 243px;
          }
          #lowerBack{
            top: 233px;
            left: 241px;
          }
          #buttocks{
            top: 291px;
            left: 224px;
          }
          #outletAndAdductors{
            top: 334px;
            left: 207px;
          }
          #thigh{
            top: 368px;
            left: 209px;
          }
          #hamstrings{
            top: 409px;
            left: 201px;
          }

        }

        img{
          max-width: 100%;
        }

      }
      .backView{
        .backMap{
          display: block;
        }
        .frontMap{
          display: none;
        }
      }

    }
  }

  .contentList{
    background: @ex-bg-color-start;

    .exercise{
      .intro{
        .gradient( @ex-bg-color-start, @ex-bg-color-start, @ex-bg-color-end);
        color: @light-text-color;
        padding: 10px 15px 5px;

        &:hover{
          background: @ex-hover-bg-color;
          cursor: pointer;

          .name{
            color: @ex-hover-color;
          }
        }

        .name{
          float: left;
          font-size: 1.2em;
          padding-bottom: 5px;
        }

        .rate, complexity{
          float: right;
        }

        .mainMuscles, .additionalMuscles{
          float: left;
          margin-left: 20px;
          font-size: 0.9em;

          span {
            .rounded(0.1em);
            background: @ex-main-muscule-color;
            color: @light-text-color;
            padding: 1px 3px;
            margin-left: 3px;
          }
        }

        .additionalMuscles{
          margin-left: 10px;

          span {
            background: @ex-additional-muscule-color;
          }
        }
      }

      .fullData{
        display: none;
        padding: 10px 15px;
        background: @ex-details-bg-color;
        transition: all 1s;

        .avatar{

          img{
            max-width: 100%;
          }

          @media screen and (min-width: 600px) {
            width: 45%;
            margin-right: 1.5%;
            float: left;
          }
        }

        .description{

          @media screen and (min-width: 600px) {
            width: 52%;
            margin-left: 1.5%;
            float: left;
          }
        }

        .description, .howTo{
          padding: 5px 0;

          .title{
            font-size: 1.3em;
            font-weight: 600;
            padding: 10px 0;
          }
        }

        .mediaList{
           padding: 10px 0;

          .mediaCont{
            float: left;
            width: 23%;
            margin: 0 1%;
            transition: all 2s;
          }
          .active{
            width: 98%;
          }
          img, video{
            max-width: 100%;
            margin: 0 auto;
            cursor: pointer;
          }

        }

        .addingBlock{

          .addingCont{

            @media screen and (min-width: 600px) {
              width: 50%;
              float: left;
            }
          }

          .toWorkoutCont{
            width: 75%;
            margin: 10px auto;
            .rounded(0.3em);
            background: @ex-add-toworkout-bg-end;
            &:hover{
              cursor: pointer;
              background: @ex-add-toworkout-bg-end - #111;
            }
          }

          .toFavorite, .toWorkout{
            padding: 6px 0px;
            width: 75%;
            margin: 10px auto;
            color: @ex-add-color;
            font-size: 1.2em;
            text-align: center;
            .rounded(0.3em);
            .gradient(@ex-add-bg-start, @ex-add-bg-start, @ex-add-bg-end);

            &:hover{
              cursor: pointer;
              .gradient(@ex-add-bg-start - #111, @ex-add-bg-start - #111, @ex-add-bg-end - #111);
            }
          }

          .toWorkout{
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            .border-radius(0, 0, 0.3em, 0.3em);

            .stabilization{
              padding:0 15px;
            }
          }
        }
      }

    }

    .active{
      .intro{
        background: @ex-hover-bg-color;
      }

      .fullData{
        display: block;
      }
    }


  }


}
