
 /* reset.css */
 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,nav,section
   {
   margin: 0;
   padding: 0;
   border: 0;
   font-weight: inherit;
   font-style: inherit;
   font-size: 100%;
   font-family: inherit;
   vertical-align: baseline;
 }

 article,aside,dialog,figure,footer,header,hgroup,nav,section {
   display: block;
 }

 body {
   line-height: 1.5;
 }

 table {
   border-collapse: separate;
   border-spacing: 0;
 }

 caption,th,td {
   text-align: left;
   font-weight: normal;
 }

 table,td,th {
   vertical-align: middle;
 }

 blockquote:before,blockquote:after,q:before,q:after {
   content: "";
 }

 blockquote,q {
   quotes: "" "";
 }

 a img {
   border: none;
 }

 html {
   font-size: 100.01%;
 }

 body {
   font-size: 75%;
   background: #f9f9f9;
   font: 12px/18px 'Open Sans', Tahoma, Arial, sans-serif;
   color: #333;
   overflow-x: hidden;
 }

 h1,h2,h3,h4,h5,h6 {
   font-weight: normal;
   color: #111;
 }

 h1 {
   font-size: 3em;
   line-height: 1;
   margin-bottom: 0.5em;
 }

 h2 {
   font-size: 2em;
   margin-bottom: 0.75em;
 }

 h3 {
   font-size: 1.5em;
   line-height: 1;
   margin-bottom: 1em;
 }

 h4 {
   font-size: 1.2em;
   line-height: 1.25;
   margin-bottom: 1.25em;
 }

 h5 {
   font-size: 1em;
   font-weight: bold;
   margin-bottom: 1.5em;
 }

 h6 {
   font-size: 1em;
   font-weight: bold;
 }

 h3 {
   color: #383838
 }

 a , .href {
     color:#36b2db;
   text-decoration: none;
 }
 a:hover, .href:hover, .hrefCont .active{
     color: #148ecf;
 }

 body .activeHref {
 	color: #1283a9;
 }

 ul,li {
   list-style-type: none;
 }

 a, .href {
   outline: none;
   text-decoration: none;
 }

 .color {
   color: #50C817;
 }

 .bg {
   background: #eee;
 }

 a:hover, .href:hover {
   text-decoration: none;
   cursor: pointer;
 }

 a span,button span,ul#navigation span,h2 span,h3 span {
   display: none;
 }

 .nodisplay {
   display: none;
 }

 input, textarea {outline:none;}

 .clear, .clean {
   clear: both;
   display: block;
   width: 0;
   height: 0;
 }

 .left{
     float: left;
 }
 .right{
     float: right;
 }