
@header-bg-color: #4e4e4e;
@header-color: #ffe422;
@header-height: 35px;
@header-padding-top: 10px;
@body-background: #676767;

@content-padding: 20px;
@workout-panel-width: 200px;

@light-text-color: #fff;

@ex-bg-color-start: #454545;
@ex-bg-color-end: #343434;
@ex-hover-bg-color: #404040;
@ex-hover-color: #ffe422;
@ex-hover-border-color: #dcc221;
@ex-details-bg-color: #e2e2e2;
@ex-main-muscule-color: #129d1a;
@ex-additional-muscule-color: #769c06;

@ex-add-color: #fff;
@ex-add-bg-start: #0cb50d;
@ex-add-bg-end: #149d1d;
@ex-add-toworkout-bg-start: #686868;
@ex-add-toworkout-bg-end: #686868;

@muscle-button-border-c: #9a9a9a;

@title-color: #666;

@link-color: #0a86ff;
@link-hover-color: #0076dc;