// Place all the styles related to the Workouts controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/


@import "twitter/bootstrap/bootstrap";
@import "elements.less";
@import "variables.css.less";



ul{
  list-style-type:none;
}

body{
  background: @body-background;
}

#header{
  background: @header-bg-color;
  color: @header-color;
  height: @header-height;
  padding-top: @header-padding-top;

  .stabilization-cont{
//    width:90%;
//    min-width: 1100px;
    margin: 0 auto;
  }
  #logo{
    font-size: 1.3em;
    font-weight: 700;
    float:left;
    padding:0 30px;
  }
  ul{
    float: left;

    li{
      @padding-top: 0px;
      @padding-left: 15px;
      float:left;
      font-size: 1.2em;
      padding:@padding-top @padding-left;

      &:hover, .test{
        cursor: pointer;
        color: @white;
      }
      &:active{
//        padding: (@padding-top + 1) (@padding-left - 1) (@padding-top) (@padding-left + 1);
          .active;
      }
    }

    .active {
      color: @white;
    }
  }
   #log-out{
     @padding-top: 0px;
     @padding-left: 20px;
     float:right;
     padding: @padding-top @padding-left;
     &:hover, .test{
      cursor: pointer;
      color: #ffffff;
     }
     &:active{
       padding: (@padding-top + 1) (@padding-left - 1) (@padding-top) (@padding-left + 1);
     }
   }
}

#content{
    padding-right: @content-padding;
//  height: @window-height;
}

#planer-cont{
  margin: 0 (@content-padding + @workout-panel-width) 0 @content-padding;

  .day-cont{
      background: #eee;
      float:left;
      width:14%;
      margin-right: 0.2857%;
//      border: 1px solid #d1d1d1;
//      border-top: none;

      .title{
          background: @gray;
          color:@white;
          font-size: 1.2em;
          text-align: center;
          padding: 10px;
      }

      .exercise{
        background: #fff;
        .rounded(0.3em);
        padding: 10px 5px;
        text-align: center;
        border: 1px solid #e1e1e1;
        margin: 3px 5px 2px;
      }

  }
}

#workouts-panel{
  background: @blue;
  width: @workout-panel-width;
  position: fixed;
  top: 45px;
  right: @content-padding;
}



