<div class="exercisesPage">
    <div class="tabCont">
      <div class="allExercisesTab">
        All Exercises
      </div>
      <div class="myExercisesTab">
        myExercises
      </div>
      <div class="clear"></div>
    </div>

    <div class="filter">
        <div class="search">
          <input name="exerciseSearch" placeholder="Find exercise" id="exerciseSearch">
        </div>

      <div class="muscleFilter">
        <div class="muscleList">
          <div class="title">Filter by muscles:</div>
          <div class="selectedMuscle" id="allMuscles">All muscles</div>
          <div class="editFilter href">Edit filter</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="musclesCont">
        <div class="muscleMap backView">
          <div class="rotateMap"></div>
          <div class="frontMap">
            <img src="<%= path_to_image "exercises/body-map-front.png" %>" />
            <div id="neck" class="muscleButton">
               Neck
            </div>
            <div id="chest" class="muscleButton">
              Chest
            </div>
            <div id="frontDelta" class="muscleButton">
              Front delta
            </div>
            <div id="biceps" class="muscleButton">
              Biceps
            </div>
            <div id="forearm" class="muscleButton">
              Forearm
            </div>
            <div id="abs" class="muscleButton">
              Abs
            </div>
            <div id="oblique" class="muscleButton">
              Oblique
            </div>
            <div id="quadriceps" class="muscleButton">
              Quadriceps
            </div>
            <div id="calf" class="muscleButton">
              Calf
            </div>
            <div id="soleus" class="muscleButton">
              Soleus
            </div>
          </div>
          <div class="backMap">
            <img src="<%= path_to_image "exercises/body-map-back.png" %>" />
            <div id="traps" class="muscleButton">
               Traps
            </div>
            <div id="backDelta" class="muscleButton">
              Back delta
            </div>
            <div id="lateralDelta" class="muscleButton">
              Lateral delta
            </div>
            <div id="triceps" class="muscleButton">
              Triceps
            </div>
            <div id="lats" class="muscleButton">
              Lats
            </div>
            <div id="lowerBack" class="muscleButton">
              Lover back
            </div>
            <div id="buttocks" class="muscleButton">
              Buttocks
            </div>
            <div id="outletAndAdductors" class="muscleButton">
              Outlet and adductors
            </div>
            <div id="thigh" class="muscleButton">
              Thigh
            </div>
            <div id="hamstrings" class="muscleButton">
              Hamstrings
            </div>
          </div>
          <div class="doneEditing href">Done editing</div>
        </div>
      </div>
      <!--<div class="sortByHardness">sort</div>-->
      <!--<div class="sortByFavorite"></div>-->
    </div>

    <div class="contentList">
        <% 3.times do  %>
            <div class="exercise">
                <div class="intro">
                  <div class="name">
                    Name of Exercise
                  </div>
                  <div class="rate">
                    rate
                  </div>
                  <div class="complexity">
                    compl.
                  </div>
                  <div class="clear"></div>
                  <div class="mainMuscles">
                    <span>biceps</span>
                    <span>nec</span>
                  </div>
                  <div class="additionalMuscles">
                    <span>triceps</span>
                    <span>abs</span>
                  </div>
                  <div class="clear"></div>
                </div>

                <div class="fullData">
                  <div class="avatar">
                    <!--<img src="<%= path_to_image "exercises/barbell.jpg" %>" />-->
                    <%= image_tag 'exercises/barbell.jpg' %>
                  </div>
                  <div class="description">
                    <div class="title">Description:</div>
                    <div class="data">
                        Basic information about exercise. For what it's good.
                    </div>
                  </div>
                  <div class="clear"></div>
                  <div class="howTo">
                    <div class="title">How to do:</div>
                    <div class="data">
                        Information about how to do it correctly.
                    </div>
                  </div>
                  <div class="mediaList">
                    <% 4.times do |i| %>
                        <div class="mediaCont">
                          <img src="<%= path_to_image "exercises/barbell-push1.jpg" %>" />
                        </div>
                    <% end %>
                    <div class="clear"></div>
                  </div>
                  <div class="mediaList">
                    <% 0.times do %>
                        <div class="mediaCont">
                          photo is here
                          <!--some img-->
                        </div>
                     <% end %>
                  </div>

                  <div class="authorInfo">
                    Created by: <a href="#">Stiven Sigal</a>
                  </div>

                  <div class="addingBlock">
                    <div class="addingCont">
                        <div class="toFavorite">
                          Add to favorite
                        </div>
                    </div>
                    <div class="addingCont">
                        <div class="toWorkoutCont">
                            <div class="toWorkout">
                              <div class="stabilization">
                                Add to default workout on monday
                              </div>
                            </div>
                            <div class="gearIcon"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                  </div>


                </div>
            </div>
        <% end %>
    </div>
</div>