<!DOCTYPE html>
<html>
<head>
  <title>Workout Planer</title>
  <%= stylesheet_link_tag    "reset", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "exercises", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="viewPort">
    <header>
      <div class="stabilization-cont">
          <div id="logo"> Workout planer</div>
          <div class="activeWorkout">W</div>
          <nav>
              <ul id="main-menu">
                  <li class="active">Plan</li>
                  <li>Exercises</li>
                  <li>Profile</li>
                  <li>Log out</li>
              </ul>
          </nav>
      </div>
      <div class="clear"></div>
    </header>

    <div id="content">
        <%= yield %>
    </div>
    </div>
    <!-- footer goes here -->
</body>
</html>
